* {
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #0a0a0a;
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  color: white;
  width: 100vw;
}

#response {
  color: white;
}

#landingPic {
  background-image: url("../images/8ball.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 5%;
}

.notification {
  text-align: center;
  align-items: center;
  margin-top: 30%;
  background-color: none;
}

#buttonContainer {
  background-color: transparent;
}

#button {
  background-color: transparent;
  border-color: #6c9fea;
  font-family: "Bungee Shade", cursive;
  color: white;
}

#startBtn {
  background-color: transparent;
  border-color: #6c9fea;
  font-family: "Bungee Shade", cursive;
  color: white;
}

#title {
  color: white;
  font-family: "Bungee Shade", cursive;
  align-items: center;
  text-align: center;
  font-size: 8vh;
}
