* {
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #0a0a0a;
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  color: white;
  width: 100vw;
}

#response {
  color: white;
}

#landingPic {
  background-image: url("../images/8ball.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 5%;
}

#enterSite {
  height: 200px;
  position: relative;
  border: 3px solid green;
  /* margin-top: 15%; */
}

#center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

/* button {
  margin: auto; 
  margin-top: 14%;
} */



@media screen and (max-width: 1110px) {
    #enterSite {
    margin-top: 40%;

}
}

/* @media screen and (max-width: 910px) {
    #enterSite  {
        margin-top: 29%;
    
  }
} */

/* @media screen and (max-width: 810px) {
    #enterSite  {
        margin-top: 29%;

  }
} */
/* @media screen and (max-width: 375px) {
    #enterSite {
    margin-top: 200%;
  }
}  */
