* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: black;
  color: white;
}

#response {
  color: white;
}

#landingPic {
  background-image: url(../images/8ball.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
